---
import Layout from '../layouts/Layout.astro';
import Article from '../components/articles.astro'
---

<Layout title="Elenemigos">
	<main>
		<section class="p-5 ">
			<h2 class="w-full text-center text-3xl font-bold m-4">Recientes</h2>
			<Article></Article>
		</section>
	</main>
</Layout>


