---

---

<article class="w-72 h-72">
	<a class="w-full h-full hover:border-red-500 hover:border" href="#">
		<div
			class="bg-[url('/images/gost_tsuchima.jpeg')] w-full h-full bg-cover bg-center rounded-2xl"
			id="container"
		>
		</div>
	</a>
</article>
