---
fetch('https://localhost:4321/data.json')
  .then(res => res.json()) // el método .json() analiza la respuesta JSON en un objeto literal JS
  .then(data => console.log(data));

---

<article>
	<div id="container">
		<a href="#"></a>
	</div>
</article>