---
---
<nav class="h-16 w-full bg-zinc-900 flex justify-between pr-4">
    <picture class="m-2 ml-4 w-auto h-16 flex items-center">
        <img class="h-[110px]" src="logo.png" alt="">
    </picture>
    <div class="flex items-center gap-4" id="menu">
        <ul class="list-none flex gap-4">
            <li>
                <a href="#">Inicio</a>
            </li>

            <li>
                <a href="#">Género</a>
            </li>

            <li>
                <a href="#">Plataformas<a> 
            </li>

            <li>
                <a href="#">Contacto<a> 
            </li>

            <li>
                <a href="#">Ayuda</a> 
            </li>
        </ul>
        <input type="text" name="searcher" id="search" placeholder="Search" class="bg-zinc-800 outline-none h-2/3 rounded-2xl p-4 text-base w-28 text-center hover:w-48 hover:transition-all hover:duration-500 transiotion-all duration-500 hover:border-red-500 hover:border-[.2px] border-red-500 focus:w-48 focus:border-[.2px] focus:border-red-500 focus:transition-all focus:duration-500">
    </div>
</nav>