---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Nav from '../components/navbar.astro'
---

<!doctype html>
<html lang="en" class="w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="logo.png" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full h-auto">
		<Nav></Nav>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #222222;
		background-size: 224px;
		scroll-behavior: smooth;
		color: white;
		text-decoration: none;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
