---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Nav from "../components/navbar.astro";
---

<!doctype html>
<html lang="en" class="w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="logo.png" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full h-full">
		<Nav />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #222222;
		background-size: 224px;
		scroll-behavior: smooth;
		color: white;
		text-decoration: none;
	}
	a {
		transition: all 0.5s;
		font-size: 1.2em;
		font-family: 'Rubik Glitch', cursive;
	}
	a:hover {
		transition: all 0.5s;
		color: rgb(239, 68, 68);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
